
body > h1 {
    text-align: center;
}

body {
    background-color: greenyellow;
}
ul {
    color:red ;
}

.home-img {
    height: 250px;
    border: solid green 5px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align: center;

}